.metadata
.recommenders
.idea
*/.settings
*/.classpath
*/.project
*/target
*.xlsx
*.exe
*.bin
*.jar
*.stackdump
*.log
*.obj
*.iml
*.class
out.txt
nets
neuroph
SPY_log.txt
*_assets_allocations.csv 




